altair==6.0.0
attrs==25.4.0
backports.zstd @ file:///D:/bld/bld/rattler-build_backports.zstd_1767045016/work
blinker==1.9.0
Brotli @ file:///D:/bld/brotli-split_1764017006836/work
cachetools==6.2.6
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1767500808759/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
contourpy @ file:///D:/bld/contourpy_1744743084386/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
Flask==3.1.2
fonttools @ file:///D:/bld/fonttools_1765632560086/work
gitdb==4.0.12
GitPython==3.1.46
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
imbalanced-learn==0.14.1
itsdangerous==2.2.0
Jinja2==3.1.6
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1762488749/work
lightgbm==4.6.0
llvmlite==0.46.0
MarkupSafe==3.0.3
matplotlib==3.10.8
munkres==1.1.4
narwhals==2.16.0
numba==0.63.1
numpy==2.2.6
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas @ file:///D:/bld/pandas_1764614482805/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1760998269/work
pillow @ file:///D:/bld/pillow_1726075253811/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1764950726/work
plotly==6.5.2
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1769816439145/work
protobuf==6.33.5
pyarrow==23.0.0
pydeck==0.9.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PySide6==6.10.2
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
referencing==0.37.0
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1766926974/work
rpds-py==0.30.0
scikit-learn==1.7.2
scipy==1.15.3
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
shap==0.49.1
shiboken6==6.10.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sklearn-compat==0.1.5
slicer==0.0.8
smmap==5.0.2
statsmodels @ file:///D:/bld/statsmodels_1764983000605/work
streamlit==1.53.1
tenacity==9.1.2
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
toml==0.10.2
tornado @ file:///D:/bld/tornado_1765836387919/work
tqdm==4.67.2
typing_extensions==4.15.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1765719872007/work
unicodedata2 @ file:///D:/bld/unicodedata2_1763054693050/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1767817748113/work
watchdog==6.0.0
Werkzeug==3.1.5
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
xgboost==3.1.3
